# Configuration File for Workflow

# Considerations:
## - Fastq names can be compressed or not but there is a restriction: paired-end number should be at the end as 1.fq and 2.fq. 
## An error will raise if you use samples as sample_1_merge.fq sample_2_merge.fq, instead of that use sample_1.fq sample_2.fq

# *****************************************
# **                                     **
# **     Complete this information       **
# **                                     **
# *****************************************

# General config
workspace="/media/scratch/FRAN/TFM/SREBF2"
# The main directory where all output files will be stored

threads=8
# Number of threads to use for parallel processing

num_samples=2
# Number of samples to process

# Data general config
amplicons_bed="/media/scratch/FRAN/TFM/SREBF2_amplicons.bed"
# Path to the BED file with amplicon regions

tail_seq_R1="_R1.fq"
# Suffix for the R1 (forward) read files

tail_seq_R2="_R2.fq"
# Suffix for the R2 (reverse) read files

transcripts_file="/media/scratch/FRAN/TFM/transcrits.txt"
# Path to the file with transcript information

indir="/media/scratch/FRAN/TFM"
# Input directory containing raw data files

# Values general config
quality_seq=20
# Minimum quality score for filtering sequences

len_seq=70
# Minimum length of sequences to retain after trimming

geno_quality=60
# Genotype quality threshold for variant calling

depth_threshold=50
# Minimum read depth required to consider a variant

# Boolean flags for step execution
# Set to True to execute the step, False to skip it
STEP1=False
# Step 1: Quality Control and Trimming

STEP2=False
# Step 2: MultiQC Analysis

STEP3=False
# Step 3: Alignment and Coverage Calculation

STEP4=False
# Step 4: Remove Primers (if applicable)

STEP5=False
# Step 5: Variant Calling

STEP6=False
# Step 6: Post-Variant Calling Processing

STEP7=False
# Step 7: Merge VCF Files

STEP8=True
# Step 8: Annotation

STEP9=True
# Step 9: Post-Annotation Processing

STEP10=True
# Step 10: Check Variants

# *************************************************************************************
# **                                                                                 **
# **     Do not touch this (only if you want to see the world burn)                  **
# **                                                                                 **
# *************************************************************************************

# Seriously, don't touch it >:(

# Step 1
trim_outdir="${workspace}/trim_files"
# Directory to store trimmed files

# Step 3
alignment_outdir="${workspace}/bam_files"
# Directory to store alignment files (BAM)

coverage_outdir="${workspace}/cov_files"
# Directory to store coverage data

tail_trim="1_val_1.fq.gz"
# Suffix for trimmed R1 reads

tail_trim_rev="2_val_2.fq.gz"
# Suffix for trimmed R2 reads

# Step 4 - not functional
# (Specify paths if needed)

# Step 5
vcf_outdir="${workspace}/vcf_files"
# Directory to store VCF files

# Step 6
post_vc_outdir="${workspace}/post_vc_DP${depth_threshold}GQ${geno_quality}SB5"
# Directory for post-variant calling outputs

# Step 7
merged_vcf_outdir="${workspace}/merged_vcf"
# Directory to store merged VCF files

# Step 8
annotation_dir="${workspace}/annotation_DP${depth_threshold}GQ${geno_quality}SB5"
# Directory to store annotation results

# Step 10
genotype_table="genotype_table_newheader_samples.tsv"
# Path to genotype table

annotation_table="annotation_variants_output_final.tsv"
# Path to annotation table output

